body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 
 * CUSTOM CSS
 */
.rowOptions,
.colOptions {
  position: absolute;
  right: 0px;
  top: 0px;
}

.editRow,.removeRow,
.editCol, .removeCol {
  cursor: pointer;
  margin: 2px;
}

.columnInner {
  outline: 2px dashed #ddd;
  position: relative;
  overflow: hidden;
}

.kenModal {
  position: fixed;
  background: rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.kenModal-inner {
  max-width: 50%;
  margin: 50px auto 0;
  background-color: #fff;
  padding: 15px;
  position: relative;
  background-color: rgba(255,255,255,0.8);
}

.km-close {
  position: absolute;
  top: -8px;
  right: -9px;
  font-size: 18px;
  background: #fff;
  border-radius: 30px;
  cursor: default;
}


